@model EventManagementSystem.Api.Common.EventModels.GetEventResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.MaxParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.MaxParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleEvent.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleEvent.DateCreated)
        </dd>   
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SingleEvent.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
